* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #4d6d7a;
    color: white;
}

.header {
    background: #080d13;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: white;
    color: #020407;
    text-decoration: none;
    border-radius: 5px;
}

section {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

.projetos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.projeto-card {
    background: rgb(135, 152, 156);
    padding: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1b1212;
}
